
<%= render "partials/navbar" %>


  <div id="main-container" class="container">
    <div class="row">

      <div id="content" class="col-md-12">
        <div class="form-container">
        
            <h2 class="form-signin-heading">Create a Group for an Event!</h2>
            <%= form_for @group do |f| %> 
            <div class="form-group">
              <%= f.text_field :title, placeholder: 'Name of Group', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :description, placeholder: 'Description of the Event', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.date_field :date, placeholder: 'Date of the Event', class: "form-control", required: true %>
            </div>
			       
            <div class="form-group">
              <%= f.time_field :date, placeholder: 'Time of the Event', class: "form-control", required: true %>
            </div>

             <%= f.hidden_field :user_id, :value => @current_user.id %>
          
             <%= f.submit "Create the Group", class: "ghost-button" %>
              <% end %>
             </div>
        </div>
      </div>
    </div>
</div>
