
<%= render "partials/fullNavbar" %>


<div class='container'>

	<!-- GROUP INFORMATION -->
	<div class='row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<h1>Event: <%= @group.title %></h1>
			<h2><%= @group.description %></h2>
			<h3>Date: <%= @group.date.strftime('%v') %></h3>
			<h3>Time: <%= @group.time %></h3>
			<h3>Group Creator: <%= @founder.firstname %> <%= @founder.surname %></h3>
		</div>
	</div>
	<hr>


	<div class='row'>

		<!-- MEMBERS LIST -->
		<div class='col-sm-12 col-md-6 col-lg-4'>
			<div class='panel panel-default'>
				<div class='panel-heading'>Group Members: <div class='pull-right'>Total: <%= @members.count %></div></div>
					<ul>
						<% @group.users.each do | a | %>
							<li><%= a.firstname %> <%= a.surname %></li>
						<% end %>
					</ul>	
			</div>
		</div>


		<!-- GIFT IDEAS -->
		<div class='col-sm-12 col-md-6 col-lg-4'>
				<div class='panel panel-default'>
					<div class='panel-heading'>Gift Ideas:</div>

						<% @group.gifts.each do |a| %>
							<div class='panel-body'>
								<h5><%= a.title %></h5>
								<p><%= a.description %></p>
								<p><%= a.price %></p>
								<p><%= a.URL %></p>
								<%= image_tag a.avatar.url(:thumb) %>
  
							</div>
					<% end %>
				</ul>
		</div>

	</div><!-- Row -->

</div><!-- Container -->	 




