
<%= render "partials/fullNavbar" %>


<div class='container'>

	<!-- GROUP INFORMATION -->
	<div class='row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<h1>Event: <%= @group.title %></h1>
			<h2><%= @group.description %></h2>
			<h3>Date: <%= @group.date.strftime('%v') %></h3>
			<h3>Time: <%= @group.time %></h3>
			<h3>Group Creator: <%= @founder.firstname %> <%= @founder.surname %></h3>
		</div>
	</div>
	<hr>

	<div class='row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'><h4>Group Newsfeed:</h4></div>
					<div class='panel-body'>

						<div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1'>
							<ul>
								<% @group.posts.each do | x | %>
									<li><%= x.content %><%= x.user.firstname %><%= x.created_at %></li>
								<% end %>
							</ul>
						</div><br>

						<div class='col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1'>
					        <%= form_for @post , :url => posts_create_path do |f| %> 

					            <%= f.hidden_field :group_id, :value => params[:id] %>
					            <%= f.hidden_field :user_id, :value => @current_user.id %>

					            <div class="form-group">
					              <%= f.text_field :content, placeholder: 'Post Content', class: "form-control", required: true %>
					            </div>

					            <%= f.submit "Post Comment!", class: "ghost-button" %>

			              	<% end %>
			            </div>
			        </div>
			</div>
		</div>		
	</div><br>



	<div class='row'>

		<!-- MEMBERS LIST -->
		<div class='col-sm-12 col-md-6 col-lg-4'>
			<div class='panel panel-default'>
				<div class='panel-heading'><h4>Member Count: <%= @members.count %></h4></div>
					<ul>
						<% @group.users.each do | a | %>
							<li><%= a.firstname %> <%= a.surname %></li>
						<% end %>
					</ul>	
			</div>
		</div>


		<!-- GIFT IDEAS -->
		<div class='col-sm-12 col-md-6 col-lg-4'>
				<div class='panel panel-default'>
					<div class='panel-heading'><h4>Gift Ideas:</h4></div>

						<% @group.gifts.each do |a| %>
							<div class='panel-body'>
								<div class='row'>
									<div class='col-xs-4 col-sm-4 col-md-3'>
										<%= image_tag a.avatar.url(:thumb) %>
									</div>
									<div class='col-xs-8 col-sm-8 col-md-9'>
										<h5><%= a.title %></h5>
										<p><%= a.description %></p>
										<p><%= a.price %></p>
										<p><%= a.URL %></p>
									</div>
								</div>
							</div>
							<hr>
					<% end %>
				</ul>
		</div>

	</div><!-- Row -->

</div><!-- Container -->	 




