
<%= render "partials/fullNavbar" %>


<div class='container'>

	<!-- GROUP INFORMATION -->
	<div class='row'>
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<h1>Event: <%= @group.title %></h1>
			<h2><%= @group.description %></h2>
			<h3>Date: <%= @group.date.strftime('%v') %></h3>
			<h3>Time: <%= @group.time %></h3>
			<h3>Group Creator: <%= @founder.firstname %> <%= @founder.surname %></h3>
		</div>
	</div>
	<hr>


	<div class='row'>

		<!-- MEMBERS LIST -->
		<div class='col-sm-12 col-md-6 col-lg-4'>
			<div class='panel panel-default'>
				<div class='panel-heading'><h4>Member Count: <%= @members.count %></h4></div>
					<ul>
						<% @group.users.each do | a | %>
							<li><%= a.firstname %> <%= a.surname %></li>
						<% end %>
					</ul>	
			</div>
		</div>


		<!-- GIFT IDEAS -->
		<div class='col-sm-12 col-md-6 col-lg-4'>
				<div class='panel panel-default'>
					<div class='panel-heading'><h4>Gift Ideas:</h4></div>

						<% @group.gifts.each do |a| %>
							<div class='panel-body'>
								<div class='row'>
									<div class='col-xs-4 col-sm-4 col-md-3'>
										<%= image_tag a.avatar.url(:thumb) %>
									</div>
									<div class='col-xs-8 col-sm-8 col-md-9'>
										<h5><%= a.title %></h5>
										<p><%= a.description %></p>
										<p><%= a.price %></p>
										<p><%= a.URL %></p>
									</div>
								</div>
							</div>
							<hr>
					<% end %>
				</ul>
		</div>

	</div><!-- Row -->

</div><!-- Container -->	 




