<h1>New User / Sign Up</h1>

  <%= render "partials/navbar" %>

  <div id="main-container" class="container">
    <div class="row">

      <div id="content" class="col-md-12">
        <div class="form-container">
        
            <h2 class="form-signin-heading">Sign Up Now!</h2>
            <%= form_for @user do |f| %> 
            
            <% if @token != nil %>
                <%= f.hidden_field_tag :invite_token, @token %>
            <% end %>

            <div class="form-group">
              <%= f.email_field :email, placeholder: 'Email', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :firstname, placeholder: 'First Name', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :surname, placeholder: 'Last Name', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: 'Password', class: "form-control", required: true %>
            </div>
        

            <%= f.submit "Signup!", class: "ghost-button" %>
              <% end %>
             </div>
        </div>
      </div>
    </div>
</div>
