
<%= render "partials/navbar" %>

<h1>New Gift</h1>


<div id="main-container" class="container">
    <div class="row">
      <div id="content" class="col-md-12">
        <div class="form-container">
        
            <h2 class="form-signin-heading">Propose a New Gift!</h2>
		        <%= form_for @gift , :url => gifts_create_path do |f| %> 

		            <%= f.hidden_field :group_id, :value => params[:id] %>
		            <%= f.hidden_field :user_id, :value => @current_user.id %>

		            <div class="form-group">
		              <%= f.text_field :title, placeholder: 'Gift Title', class: "form-control", required: true %>
		            </div>
		        
		            <div class="form-group">
		              <%= f.text_field :description, placeholder: 'Description of the Gift', class: "form-control", required: true %>
		            </div>

		           	<div class="form-group">
		              <%= f.text_field :url, placeholder: 'Add a URL where we can find out more!', class: "form-control", required: true %>
		            </div>

		            <div class="form-group">
		              <%= f.number_field :price, placeholder: 'Retail Price', class: "form-control", required: true %>
		            </div>

		            <%= f.submit "Signup!", class: "ghost-button" %>

              	<% end %>
             </div>
        </div>
      </div>
    </div>
</div>